body{
    margin: 0;
    padding: 0;
    font-family: 'times new roman';
    background: linear-gradient(to right, #92c6e9 #fc0664,#92c6e9);


}
header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logo{
    color: #fc0664;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
}
nav{
    float: right;
}
.clearfix{
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
nav ul li a.active,
nav ul li a:hover
    {
    background: #fc0664;
    color: rgb(190, 3, 247);
    transition: 0.5s;
}
@media (max-width: 1200px)
{
    header{
        margin: 20px;
    }
}

@media (max-width: 768px)
{
    .menu-toggle{
        display: 40px;
        height: 40px;
        width: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #fc0664;
    }
    .menu-toggle:before{
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
    }
    .menu-toggle.active:before{
        content: '\f00d';
        }
    nav{
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;
    }
    nav.active ul{
        display: block;
    }
}
.footer{
    position: fixed;
    display: inline-block;
    bottom: 0px;
    width: 100%;
    background: rgb(190, 3, 247);
}
.footertop{
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(190, 3, 247);
    color: #fc0664;
}
.footerbottom{
    position: relative;
    display: inline-block;
    width: 98%;
    height: 10px;
    margin: 10px;
    margin-top: 0;
    background: rgb(190, 3, 247);
    padding: 0;
    font-size: 65%;
    text-align: center;
    content: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 5px 0;
    background-color: #fc0664;
    text-align: center;

}
.medsos ul{
    padding-inline-start: 0;

}
.medsos ul li{
    display: inline-block;
    color: rgb(190, 3, 247);
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}
nav ul li a:hover{
    background: #fc0664;
    color: rgb(190, 3, 247);
    transition: 0,5s;
}
.medsos ul li:hover{
    background: #9bd6c7;
}

.gambar{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 20px;

}
.gambar .foto img{
    width: 300px;
    border-radius: 10px;

}
.foto{
    border: 1px solid rgb(77, 53, 73);
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}